streamlit==1.32.0
pandas==2.1.4
numpy==1.26.3
xgboost==2.0.3
scikit-learn==1.4.0
shap==0.44.1
plotly==5.18.0
matplotlib==3.8.2
seaborn==0.13.1
pillow==10.2.0
requests==2.31.0
python-dotenv==1.0.0   # <-- أضف هذا السطر